html {
    touch-action: manipulation;
  }
  
table{
    border-collapse: collapse;
    border-spacing: 0;
}

tr{
    margin:0;
    padding:0;
    text-align: center;
}

.cell{
    width:50px;
    height:50px;
    border-radius:0;
    border: solid 1px #000000;
    outline: none;
}

.cell_body {
    position: relative;
    margin:0;
    padding:0;
}

.cell_body p {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}
  
.cell_body img {
    width: 100%;
}

.colord{
    background-color: #EEEEEE;
}

.color0{
    background-color: #EEAAAA;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    
}

.color1{
    background-color: #AAAAEE;
}

.cell_select{
    outline: 5px solid #444444;
    outline-offset: -5px;
}

.cell_select0{
    outline: 5px solid #884444;
    outline-offset: -5px;
}

.cell_select1{
    outline: 5px solid #444488;
    outline-offset: -5px;
}